// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$gains-gray: #DEE2E6;
$light-gray: #CED4DA;
$mid-gray: #495057;
$dark-gray: #212529;
$pink: #E83F6F;
$white: #F8F9FA;
$turquoise: #F8F9FA;
$black: #000000;


