// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;
$cultured: #f8f9faff;
$myrtle-green: #307473ff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$black: #000000ff;
$davys-grey: #495057ff;
$paradise-pink: #e83f6fff;
$charleston-green: #212529ff;

