// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;
$cultured: #f8f9fa;
$myrtle-green: #307473;
$gainsboro: #dee2e6;
$light-gray: #ced4da;
$black: #000000;
$davys-grey: #495057;
$paradise-pink: #e83f6f;
$charleston-green: #212529;

