.instrument-container {
  margin-top: 32px;
}

.container.footer {
  margin-bottom: 20px;
}


.instrument-description {
  border: $cultured;
  border-width: 8px;
  margin: 0 32px 0 32px;
  padding: 8px;
}

.instrument-image > img {
  width: 250px;
  height: auto;
}

.instrument-description {
}

.card-instrument:hover{
  transform: unset;
  box-shadow: 0 0px 0px rgba(0,0,0,0), 0px 0px rgba(0,0,0,0);
  background-color: $myrtle-green;
}

