
<div class="container">
  <h1>Dashboard</h1>
  <div class="dashboard-section">
    <h2>My instruments</h2>

      <% if @instruments.length > 0 %>
        <div class="cards-grid-dashboard">
          <% @instruments.each do |instrument| %>
            <div>
              <%= link_to instrument_path(instrument) do  %>
                <%= render "instruments/card", instrument: instrument %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>You are not offering any instruments yet.</p>
      <% end %>
  </div>

  <div class="dashboard-section">
    <h2>My rentals</h2>
    <% if @rentals_as_renter.length > 0 %>
      <% @rentals_as_renter.each do |rental| %>
          <div class="col-4">
            <%= link_to my_rentals_path(rental) do  %>
              <%= render "instruments/card", instrument: rental.instrument %>
            <% end %>
          </div>
        <% end %>
    <% else %>
      <p>You don't have any rentals yet.</p>
    <% end %>

  </div>
</div>
































