
<div class="container">
  <h1>Dashboard</h1>
  <h2>My instruments</h2>
  <div class="d-flex">
    <% if @instruments.length > 0 %>
      <% @instruments.each do |instrument| %>
        <div class="col-4">
          <%= link_to instrument_path(instrument) do  %>
            <%= render "instruments/card", instrument: instrument %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<div class="container">
  <h2>My rentals</h2>

  <% @rentals_as_renter.each do |rental| %>
      <div class="col-4">
        <%= link_to my_rentals_path(rental) do  %>
          <%= render "instruments/card", instrument: rental.instrument %>
        <% end %>
      </div>
    <% end %>
</div>
































