<div class="container">

  <h1>instrumentalize.me!</h1>
  <p>work in progress. soon you will be able to access an awesome peer-to-peer instrument
  rental platform here :)</p>

  <%= link_to "View test version", instruments_path %>
</div>
