.navbar-lewagon {
  justify-content: space-between;
  background: $paradise-pink;
  opacity: 1;
  height: 66px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a.nav-link {
  color: $gainsboro !important;

}
h5.logo {
  color: $gainsboro !important;
}
