.navbar-lewagon {
  justify-content: space-between;
  background: white;
  opacity: .7;
  height: 66px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light {
  background-color: $pink;
}
