.navbar-lewagon {
  justify-content: space-between;
  background: $paradise-pink;
  opacity: .7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
