<h2> <%= instrument.name %></h2>
<p> <%= instrument.address %></p>

<!-- here could also be a button which links to the show, or somehow a connection to the cards on the left of the map maybe? or even a tiny version of the picture.-->
