<h1> view </h1>
<ul>
  <% @instruments.each do |instrument| %>
  <li>
    <%= instrument.name %>
    <% if policy(instrument).edit? %>
      <%= link_to "Update", edit_instrument_path(instrument) %>
      <%= link_to "🗑", instrument_path(instrument), method: :delete %>
    <% end %>
  </li>
<% end %>
</ul
<% if policy(Instrument).create? %>
  <%= link_to "New instrument", new_instrument_path %>
<% end %>

