
<div class="container">

  <div class="cards-grid">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument) do  %>
        <%= render "card", instrument: instrument %>
      <% end %>
    <% end %>
  </div>

  <div class="map">
    <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
  </div>

</div>










