
<div class="index-container">

  <div class="cards-grid">
    <% @instruments.each do |instrument| %>
      <%= link_to instrument_path(instrument) do  %>
        <%= render "card", instrument: instrument %>
      <% end %>
    <% end %>
  </div>

  <div id="map">
    <img src="https://via.placeholder.com/450C/O https://placeholder.com/">
  </div>

</div>










